// http://www.colourlovers.com/palette/3435008/LS_TA_Wedding
$color-chocolate: #5E3929; // chocolate pudding
$color-burlywood: #A37E58; // milk chocolate shell
$color-beige: #EFEDBD; // khaki
$color-pink: #ED6A64; // pink soda pop
$color-green: #9DCE5C; // Go ahead
$color-cyan: #00B5AD;
$color-darkcyan: #008A84;

$color-beige-2: #FFFEED;
$color-chocolate-hover: #715447;
$color-border-gray: #BFBFBF;


$sidebar-width: 200px;

@mixin sidebar-label {
  margin: 8px;
  font-size: 26px;
  padding-bottom: 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@mixin right-sidebar-label {
  @include sidebar-label;
  color: $color-burlywood;
  border-bottom-color: $color-burlywood;
}

@mixin toggle-sidebar-label {
  @include sidebar-label;
  color: $color-chocolate;
  border-bottom-color: $color-chocolate;
}

@mixin common-button-cyan {
  padding: 0px 0px 0px 0px;
  height: 36px;

  &:focus,
  &:hover {
    background-color: $color-cyan;
  }

  &:active {
    background-color: $color-darkcyan;
  }
}
