.left-col {
  width: 100%;
  float: left;
  height: 100%;
}

.left-col-container {
  height: 100%;
  margin-right: $sidebar-width;
}

.chat-container {
  height: 65%;
}

.global-msg-container {
  height: 35%;
}
