@import "compass";
@import "common";
@import "right_sidebar";
@import "toggle_sidebar";
@import "left_column";
@import "dialog";


html, body {
  margin: 0px;
  height: 100%;
  font-family: "lucida grande",tahoma,verdana,arial,"hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
}

#app-container {
  height: 100%;
}

.main-container {
  float: left;
  text-align: left;
  position: relative;
  width: 100%;
  height: 100%;
}
