<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>サンプル</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript">
            $(function(){
                var ws = new WebSocket("ws://" + location.hostname + ":9000/websocket");
                ws.onopen = function(){
                };
                ws.onclose = function(){
                };
                ws.onmessage = function(message){
                    $("#result").append(message.data).append("<br />");
                };
                ws.onerror = function(event){
                    alert("接続に失敗しました。");
                };
                $("#form").submit(function(){
                    ws.send($("#message").val());
                    $("#message").val("")
                    return false;
                });
            });
        </script>
    </head>
    <body>
        <div id="result"></div>
        <form id="form" action="#">
            <textarea id="message" style="width: 285px; height: 342px;"></textarea>
            <input type="submit" value="送信" />
        </form>
    </body>
</html>