<div class="add-server ui form">
  <div class="field">
    <label>設定名</label>
    <div class="fields">
      <div class="eight wide field">
        <input type="text" name="settingName">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="fields">
      <div class="twelve wide field">
        <label>ホスト名</label>
        <input type="text" name="serverAddr">
      </div>
      <div class="four wide field">
        <label>ポート番号</label>
        <input type="text" name="serverPort" value="6667">
      </div>
    </div>
  </div>
  <div class="field">
    <label>ニックネーム</label>
    <div class="fields">
      <div class="six wide field">
        <input type="text" name="nickName">
      </div>
    </div>
  </div>
  <button class="add-server__ok-button ui teal button">OK</button>
</div>
